/* Add Chivo as the default font for body and headers */
html,
body {
    background-color: #282430;
    font-size: 1rem;
    margin: 0;
    color: #ded7d7;
    font-family: "Chivo", sans-serif; /* Set Chivo as the default font */
}

/* Nav styles */
.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header {
    margin: 30px auto;
    padding: 0px 30px 0px 30px;
    width: 90%;
    height: 60px;
    border-radius: 8px;
    background-color: #3d3c52;
    color: #ded7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Chivo", sans-serif; /* Apply Chivo to header text */
}

header .opus-name {
    width: 5%;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

header a,
footer a {
    color: #ded7d7;
    text-decoration: none;
    font-family: "Chivo", sans-serif; /* Apply Chivo to nav links */
}

header a.active {
    color: #7597c9;
    font-weight: bold;
    text-decoration: underline;
}

header a:hover,
footer a:hover {
    color: #7597c9;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #3d3c52;
    width: 100%;
    height: 100px;
    padding: 20px 0 20px 0;
    justify-content: center;
}

footer p {
    font-size: 0.8em;
    margin-top: 50px;
    color: #ded7d7;
    text-align: center;
}

.footerlink {
    width: 90%;
    margin: auto;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    font-family: "Chivo", sans-serif; /* Apply Chivo to footer links */
}

.blue_button,
.transparent_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Chivo", sans-serif; /* Apply Chivo to buttons */
}

.transparent_button {
    margin: 5px 0 5px 0;
    width: 200px;
    background-color: #282430;
    color: #7597c9;
    border: 1px solid #7597c9;
}

.blue_button {
    margin: 5px 0 5px 0;
    width: 200px;
    background-color: #7597c9;
    color: #282430;
    border: 1px solid #7597c9;
}

.transparent_button:hover {
    background-color: #7597c9;
    color: #282430;
}

.blue_button:hover {
    background-color: #6381af;
}
