.wrapper {
    flex-direction: column;
}

.section {
    width: 100%;
    height: 100%;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center aligns the items vertically */
    color: #ded7d7;
}

.section-heading a {
    text-decoration: underline;
    color: #ded7d7;
}

.card-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.card {
    padding-bottom: 15px;
    width: 16.6667%;
    display: flex;
    flex-direction: column;
    color: #ded7d7;
    text-align: center;
    transition: transform 0.3s ease; /* Smooth scaling transition */
}

.card:hover {
    transform: scale(1.08); /* Scale up the card to 1.3x on hover */
}

a:hover {
    color: #7597c9;
}
