.wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start; /* Ensures items start at the top of the container */
}

.movie-image {
    width: 30%; /* Adjust width as needed, or remove width for default */
    margin: 0; /* Ensure there is no margin pushing it away from the left */
    align-self: flex-start; /* Optional: Ensure the image aligns at the top of the container */
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.booking-prices {
    width: 100%;
    margin-top: 30px;
}

.card-details {
    margin-bottom: 10px; /* Adjust this value as needed to minimize the gap */
}

.card-logos {
    margin-top: 0;
    display: flex; /* Use Flexbox for alignment */
    gap: 20px; /* Adjust gap between card logos as needed */
    align-items: center; /* Align logos vertically in the center */
}

.card-logos img {
    width: 50px; /* Adjust the size of the logos */
    height: auto; /* Keep aspect ratio */
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #282430;
    border: 1px solid #7597c9;
    border-radius: 10px;
    color: #ded7d7;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}
.transparent_button {
    width: 40% !important;
}

.blue_button {
    width: 40% !important;
}

.card-inputs {
    display: flex;
    gap: 20px; /* Adjust this value as needed to match other input spacing */
    justify-content: space-between; /* Ensures equal spacing between inputs */
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ensure consistent width so fields align correctly */
}

.input-group label {
    margin-bottom: 5px;
    color: #ded7d7; /* Match the color scheme */
}

input[type="text"] {
    padding: 15px;
    background-color: #282430;
    border: 1px solid #7597c9;
    border-radius: 10px;
    color: #ded7d7;
    box-sizing: border-box;
}

@media (max-width: 644px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-start; /* Adjusted from center */
    }

    .movie-image {
        width: 60% !important;
        align-self: center;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Changed to flex-start */
        margin-left: 20px;
    }

    .booking-details {
        width: 100%;
        text-align: left;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-logos {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    form {
        align-self: flex-start; /* Ensures left alignment */
    }
}
